* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: lightgray;
    color: #333;
    margin: 20px;
    padding: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #444;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
    color: #555;
}

p {
    margin: 10px 0;
}

ul, ol {
    margin: 10px 0 20px 20px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

li {
    margin-bottom: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}
